*{
    margin: 0;
    padding: 0;
    font-size: 25px;
}

.heading-title{
    color: blue;
    font-size: 60px;
    border-bottom: 2px solid rgb(94, 224, 241);
}
.heading-nav {
    background-color: rgb(94, 224, 241);
    text-decoration: none;
    margin-top: 15px;
}
.heading-nav a{
    display: inline-block;
    text-decoration: none;
    color: rgb(54, 116, 134);
    padding: 10px;
}
img{
    float: right;
    width: 300px;
    height: 250px;
    display: block;
    margin: 0 10px;
}
.title{
    font-size: 35px ;
    color: rgb(139, 131, 131);
}
.text{
    font-family:Arial, Helvetica, sans-serif;
}