body{
    color:#000000;
    background-color: #ffffff;
    font-size: 12px;
    font-family: arial,Verdana,sans-serif;
}
p{
    padding:10px;
}
p[id]{
    border:1px solid #000000;
}
p[id="summary"]{
    background-color: #e9ec11;
}
/* chọn tất cả các phần tử class có thuộc tính XHTML */
p[class~="XHTML"]{
    border: 5px solid #000000;
}
/* chọn thuộc language tính bắng đầu bằng ngôn ngữ en */
p[language|="en"]{
    color: rgb(255,255,255);
    background-color:rgb(0,0,0);
}
/* chọn thuộc tính class bắt đầu bằng b */
p[class^="b"]{
    border:3px solid #333333;
    color:#ff00ff;
}
/* chọn thuộc tính class kết thúc bằng x */
p[class$="x"]{
    border:1px solid #333333;
    color: #ff0000;
}
/* chọn tất cả class chứa chuỗi con in */
p[class*="in"]{
    background-color: #00ffff;
}